/* ROOT */
:root {
    /* COMMON */
    --avatar-wd: 4vw;

    /* contacts area */
    --wd-contacts-area:40%;

    /* user section */
    --user-section-btn-color: #b1b1b1;
    --user-section-btn-font-size: 1.5rem;

    /* notification adv */
    --notif-dv-pd: 0.4rem 0.7rem;
    --notif-adv-ico-wd: 4vw;
    --notif-adv-active-link: #5e5e5e;

    /* search bar */
    --src-bar-pd: 0.5rem;
    --src-bar-icon-font-size: 1rem;
    --contact-src-bar-heigth: 3.5vw;

    --banner-heigth: 5vw;
    --input-msg-heigth: 4vw;
    --input-msg-pd: 0.5rem 2rem;


}

/* COMMON */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0,
        #009688 20vh,
        #d9dbd4 20vh,
        #d9dbd4 100vh
      )
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    width: 80%;
    height: 90%;
}

/* CONTACTS AREA */
.contacts-area {
    width: var(--wd-contacts-area);
}

/* user section */
.user-section {
    background-color:var(--primary-grey);
    display: flex;
}

.user-avatar {
    display: flex;
    width: var(--avatar-wd);
}

.user-options {
    display: flex;
    width: 30%;
}

.user-options .user-section-btn {
    font-size: var(--user-section-btn-font-size);
    color: var(--user-section-btn-color);
}

/* notification adv */
.notif-adv {
    display: flex;
    background-color: var(--notif-adv-primary-color);
    padding: var(--notif-dv-pd);
}

.notif-adv-ico {
    display: flex;
    width: var(--notif-adv-ico-wd);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--notif-adv-secondary-color);
    color: var(--notif-adv-primary-color);
    font-size: var(--user-section-btn-font-size);
}

.notif-adv-content {
    width: calc(97% - var(--notif-adv-ico-wd));
}

.notif-adv-content a {
    color: var(--notif-adv-active-link);
}

/* search bar */
.contact-src-bar {
    display: flex;
    width: 100%;
    padding: var(--src-bar-pd);
    background-color: var(--primary-grey);
    height: var(--contact-src-bar-heigth);
}

.src-bar-input {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.src-bar-input button,
.src-bar-input input {
    background: transparent;
    border: none;
    font-size: var(--src-bar-icon-font-size) ;
    /* padding: 0.5rem 1rem; */
}

.src-bar-input button{
    padding-right: 1rem;
}

.src-bar-input input {
    width: 70%;
}

/* contact section */
.contacts {
    height: calc(95% - var(--avatar-wd) - var(--notif-adv-ico-wd) - var(--contact-src-bar-heigth));
}
.contacts-msg {
    display: flex;
}

.contact-photo {
    width: var(--avatar-wd)
}

.contact-dets {
    width: calc(96% - var(--avatar-wd));
    /* debug */
    background-color: aqua;
}

/* CHAT AREA */
.chat-area {
    width: calc(100% - var(--wd-contacts-area));
    height: 100%;
}

.contact-avatar {
    width: var(--avatar-wd);
    padding: 0;
}

/* input msg */
.input-msg{
    height: var(--input-msg-heigth);
    padding: var(--input-msg-pd);
}