/* ROOT */
:root{
    /* COMMON */
    --avatar-wd: 5vw;
    --banner-heigth: 6vw;

    /* contacts area */
    --wd-contacts-area:40%;

    /* notification adv */
    --notif-dv-pd: 0.4rem 0.7rem;
    --notif-adv-ico-wd: 4vw;
}

/* COMMON */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0,
        #009688 20vh,
        #d9dbd4 20vh,
        #d9dbd4 100vh
      );
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    width: 80%;
    height: 90%;
}

/* CONTACTS AREA */
.contacts-area{
    width: var(--wd-contacts-area);
}

/* user section */

/* user section */
.user-section {
    background-color:var(--primary-grey);
    display: flex;
}

.user-avatar {
    display: flex;
    width: var(--avatar-wd);
}

.user-options {
    display: block;
    width: 20%;
    /* debug */
    height: 5vw;
    background-color: aqua;
}

/* notification adv */
.notif-adv {
    display: flex;
    background-color: var(--notif-adv-primary-color);
    padding: var(--notif-dv-pd);
}

.notif-adv-ico {
    width: var(--notif-adv-ico-wd);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--notif-adv-secondary-color) ;
}

.notif-adv-content {
    width: calc(97% - var(--notif-adv-ico-wd));
    /* debug */
    background-color: var(--notif-adv-secondary-color);
}

/* contact section */
.contacts {
    height: calc(95% - var(--avatar-wd) - var(--notif-adv-ico-wd));
}
.contacts-msg {
    display: flex;
}

.contact-photo {
    width: var(--avatar-wd)
}

.contact-dets {
    width: calc(96% - var(--avatar-wd));
    /* debug */
    background-color: aqua;
}



/* CHAT AREA */
.chat-area {
    width: calc(100% - var(--wd-contacts-area));
    height: 100%;

}

.contact-avatar {
    width: var(--avatar-wd);
    padding: 0;
}
