/* RESET */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

img {
    max-width:100%;
}

/* ROOT */
:root {
    /* common */
    --banner-heigth: 16vw;
    --border-style: 1px solid #b0b0b0;
    --user-avatar-pd: 0.4rem 0.7rem;
    
    /* palette */
    --primary-grey:#eaeaea;
    --text-color-grey:#fff;
    --color-white: #fff;

    /* notification adv */
    --notif-adv-primary-color:#8edafc;
    --notif-adv-secondary-color: #fff;
}

/* UTILITIES */

.flex-display {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

/* framework */
.wd100 {
    width: 100%;
}

/* COMMON */
.wrapper,
.app-container {
    width: 100%;
    height: 100vh;
}

/* debug */
.user-photo {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* debug */
    background-color: aqua;
}
/* /debug */

/* CONTACTS AREA */
.contacts-area {
    display: none;
}

/* user section */
.user-section {
    display: none;
}

.user-options {
    display: none;
}

/* CHAT AREA */
.chat-area {
    height: 100%;
    border-left: var(--border-style);
    background-image:url(../img/mine.jpg);
    background-size: contain;
}

.contact-banner {
    width: 100%;
    height: var(--banner-heigth);
    background-color: var(--primary-grey);
    padding: var(--user-avatar-pd);
}

.contact-avatar {
    width: 14vw;
}

.chat-contact-info {
    width: calc(95% - var(--banner-heigth));
    background-color: aqua;
}

.input-msg {
    width: 100%;
    height: var(--banner-heigth);
    background-color: var(--primary-grey);
}
