/* ROOT */
:root{
    /* common */
    --banner-heigth: 13vw;

    /* contacts area */
    --wd-contacts-area:12.5%;

}

/* COMMON */

/* CONTACTS AREA */
.contacts-area{
    width: var(--wd-contacts-area);
    height: 100%;
    display:block;
    background-color: var(--color-white);
}

/* user section */
.user-section{
    height: var(--banner-heigth);
    padding: var(--user-avatar-pd);
    display: block;
    background-color:var(--primary-grey);
}
.user-avatar {
    display: flex;
    width: 100%;
    /* debug */
    aspect-ratio: 1/1;
}

/* contacts section */
.contacts {
    width: 100%;
    height: calc(100% - var(--wd-contacts-area));
    overflow-y: scroll;
}

.contacts-msg {
    padding: var(--user-avatar-pd);
    border-bottom: var(--border-style);
}

.contacts-dets {
    display: none;
}

/* CHAT AREA */
.chat-area {
    width: calc(100% - var(--wd-contacts-area));
    height: 100%;
}

.contact-avatar {
    padding: var(--user-avatar-pd);
}