/* ROOT */
:root{
    /* framework */
    --user-avatar-pd: 0.4rem 0.7rem;

    /* contacts area */
    --wd-contacts-area:12.5%;

}

/* COMMON */


/* CONTACTS AREA */
.contacts-area{
    width: var(--wd-contacts-area);
    height: 100%;
    display: block;
    /* debug*/
    background-color: red;
}

/* user section */
.user-section{
    display: block;
    background-color:var(--primary-grey);
}
.user-avatar {
    display: flex;
    width: 100%;
    padding: var(--user-avatar-pd);
    /* debug */
    aspect-ratio: 1/1;
}

/* contacts section */


/* CHAT AREA */
.chat-area {
    width: calc(100% - var(--wd-contacts-area));
    height: 100%;
    background-color: yellow;
}
